.header {
  // color: $primary;
  // background-color: #2e93ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

.header {
  padding-inline: 6rem;
  background-color: hsl(200deg 90% 50%/25%);
  // background: linear-gradient(
  //   145deg,
  //   hsla(189, 88%, 47%, 0.5),
  //   hsla(189, 97%, 48%),
  //   hsl(331, 28%, 61%),
  //   hsl(330deg 14% 50%),
  // );
  .container {
    
  }
}

.company_name {
  display: flex;

  .company_name__a {
    display: inline-flex;
    margin: 0;

    .company_name__h1 {
      margin: 0;
      font-size: 1.5rem;
    }
    
  }
}

.company_name__h1 {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
}



