.main-menu {
  
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    gap: 1rem;
    

    > li {
      list-style: none;
      font-size: 1rem;

      position: relative;
      border-radius: 0.5rem;
      background: hsl(302deg 59% 5% / 50%);

      // &:has(+ li:hover) >a::before {
      //   inset-inline-start: 100%;
      // }
      
      > a {
        // padding: 10px 12px 10px 12px;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        display: block;
        font-weight: normal;
        text-decoration: none;
        color: $primary;

        color: hsl(0, 4%, 82%);
        position: relative;
        z-index: 10;
        overflow: hidden;
        border-radius: inherit;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: hsl(0, 0%, 100%);
          // text-decoration: underline;
        }

        // &:hover::before {
        //   inset-block-start: 0;
        //   inset-inline-start: 0;
        // }
      }
      &.active {
        > a {
          // font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}

.header__a::before {
	content: "";
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: -100%;
	block-size: 100%;
	inline-size: 100%;
	background: hsl(221, 69%, 14%);
	z-index: -1;
	transition: all 0.2s ease-in-out;
}

// .header__a:hover {
// 	color: hsl(302deg 70% 5% / 90%);
// }

.header__a:hover::before {
	inset-block-start: 0;
	inset-inline-start: 0;
}

.header__li:has(+ li:hover) .header__a::before {
	inset-inline-start: 100%;
}