.strip {
  background: hsl(0deg 0% 100% / 65%);
  background-repeat: no-repeat;


}
.strip-white {
  background-color: white;

  background: linear-gradient(
    45deg,
    hsla(189, 88%, 47%, 0.5),
    hsla(189, 97%, 48%),
    hsl(331, 28%, 61%),
    hsl(330deg 14% 50%),
  );
}
.strip-grey {
  background-color: $white-offset;
}
.strip-diagonal {
  transform: skewY(5deg);
  padding-bottom: 50px;
  margin-bottom: 65px;
  > div {
    transform: skewY(-5deg);
  }
}
.strip-primary-gradient {
  background-image: linear-gradient(to right, $primary, $secondary);
}
.strip-primary-gradient-top-bottom {
  background-image: linear-gradient(to bottom, $primary, $secondary);
}
.strip-primary {
  background-color: $primary;
}
.strip-secondary {
  background-color: $secondary;
}

.strip-diagonal-right {
  margin-top: -100px;
  transform: skewY(-5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(5deg);
  }
}

.strip-diagonal-left {
  margin-top: -100px;
  transform: skewY(5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(-5deg);
  }
}

.strip-bg-contain {
  background-size: contain;
}

.strip-bg-cover {
  background-size: cover;
}

.strip-gradient {
  background: linear-gradient(
    45deg,
    hsla(189deg 5% 90% / 90%),
    hsla(189deg 97% 48% / 65%),
    hsl(331deg 28% 61% / 30%),
    hsl(330deg 14% 50% / 20%),
  );
}